@import url('https://fonts.googleapis.com/css2?family=Acme&family=Quicksand&display=swap');

h5{
    font-family: 'Acme', sans-serif;
    font-size: smaller;
}

body{
    display: flex;
    background-image: url("../asset/img/reservation.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
}

.back-button{
    text-decoration: none;
    position: absolute;
    top: 35px;
    left: 150px;
    color: #F2F4F5;
}

.back-button .arrow{
    color: #F2F4F5;
    width: 37px;
}


/* .container{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin-top: 170px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
} */

.container-sm {
    margin-top: 100px;
}

.form-control{
    height: 45px;
    width: 908px;
    margin-top: 10px;
}

.btn{
    border-radius: 0;
    width: 100%;
    height: 54px;
    margin-top: 35px;
}

.btn-warning:hover {
    background: none !important;
    color: #F5BA08 !important;
}

@media only screen and (max-width:768px) {
    .arrow {
        display: none;
    }

    .back-button {
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;
    }

    .back-button:hover {
        color: #F5BA08;
    }
}

@media only screen and (max-width:576px) {
    .container-sm {
        background: none !important;
    }

    .border {
        border: none !important;
    }

    .back-button {
        top: 15%;
    }
}


